@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

.namehome{
    justify-content: center;
}

.BioName{
    text-shadow: rgb(163, 162, 162) 0.1em 0.1em 0.2em;
    /* text-shadow: 0.1em 0.1em 0.2em rgb(148, 148, 148); */
    font-size: 25px;
}

.NavBarName{
    color: black !important;   
}

.cont-slide{
    background: #fafafa ;
    border-top: solid 1px #fff;
    -webkit-box-shadow: 0px 0px 1px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0px 0px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 1px rgb(0 0 0 / 30%);
    margin-top: 4rem;
}